<?xml version='1.0' encoding='utf-8'?>
<odoo>

    <menuitem
        id="menu_nr_root"
        name="Gestão de Normas"
        web_icon="NREspecialista,static/description/icon.png"
        sequence="0" />

    <menuitem
        id="menu_patient_master"
        name="Não existe"
        parent="menu_nr_root"
        sequence="2" />

</odoo>